CONTRACT_ADDRESS=0xa7bcdc220f17ebcb41a2ddded82c0317a9954c48

PORT=8080

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=qN8#L2x!R9v@M4kP7sD1
DB_NAME=veritrace
DB_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

QDRANT_HOST=qdrant
QDRANT_PORT=6334

ARBITRUM_SEPOLIA_WS_URL=
PINATA_JWT=

S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=https://s3.veritrace.dpkvtrading.online
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=veritrace
S3_REGION=us-east-1
UPLOAD_BASE_URL=https://api.veritrace.dpkvtrading.online/uploads

AI_SERVICE_URL=https://api.ai.veritrace.dpkvtrading.online
